{% extends "base.html.twig" %} {% block main %}

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Category - {{subcategories.currentCategoryName}}</h1>
      <div class="btn-group">
        <div class="dropdown ml-2">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Subcategories
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul class="mr-5">
              <li><a href="{{path('video_list', {'categoryname': subcategories.mainParentName|slugify|lower, 'id': subcategories.mainParentId})}}">{{subcategories.mainParentName}}</a></li>
              {{(subcategories.categorylist|raw)}}
            </ul>
          </div>
        </div>

        <div class="form-row align-items-center ml-3">
          {{ include('front/includes/_sort.html.twig') }}
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      {{ include("front/includes/_videos.html.twig", {'videos': videos}) }}
      
      <!-- no members -->
      <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div align="center" class="embed-responsive embed-responsive-16by9">
              <iframe
                class=""
                src="https://player.vimeo.com/video/113716040"
                frameborder="0"
                allowfullscreen
                ></iframe>
            </div>
            <div class="card-body">
              <h3>Video title</h3>
              <p class="card-text text-danger">
                Video for <b>MEMBERS</b> only.
                <a href="pricing.php">Sign up</a> for one month for free.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <i class="fa fa-thumbs-up mr-2"
                    ><small class="text-muted">(23)</small></i
                  >
                  <i class="fa fa-thumbs-down mr-2"
                    ><small class="text-muted">(9)</small></i
                    >
                    
                    <a href="#video_comments">Comments (32)</a>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <!-- pagination -->
  {{ knp_pagination_render(videos) }}
</main>
{% endblock %}
